<!DOCTYPE html>
<html lang="en" class="leading-relaxed text-base mx-auto mt-2 w-11/12 sm:w-2/3 sm:max-w-lg font-sans bg-slate-900 text-slate-50 no-underline">

<head>
  <meta charset="utf-8">
  {% block title %}
  <title>{{ config.title }}</title>
  {% endblock %}
  <link rel="shortcut icon" type="image/png" href="{{ config.extra.emily_favicon }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link id="stylesheet" rel="stylesheet" type="text/css" href="/main.css">
  <link id="stylesheet" rel="stylesheet" type="text/css" href="/typography.css">
  <link rel="stylesheet" href="/foundation.min.css">
  {% block rss %}
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}
  <link rel="me" href="https://toot.cat/@rey"><!-- TODO: Don't hardcode this -->
  <script src="/highlight.min.js"></script>
  <script defer>hljs.highlightAll();</script>
</head>

<div class="flex items-start border-slate-50">
  <a href="/">
    <div class="rounded-full">
      <img class="" width="60" height="auto" src="{{ config.extra.emily_icon }}" alt="{{ config.title }}">
    </div>
  </a>
  <div class="ml-auto">
    <a class="no-underline text-slate-50" href="/"><big>{{ config.title }}</big></a>
  </div>
</div>
<div class="flex justify-end">
  <a class="flex items-start text-slate-50" href="/">home</a>
&emsp;
  <a class="flex items-start text-slate-50" href="/about">about</a>
&emsp;
  <a class="flex items-start text-slate-50" href="/now">now</a>
&emsp;
  <a class="flex items-start text-slate-50" href="/contact">contact</a>
</div>

<hr class="border-amber-200" />

<body onload="getTheme()">
  <section>
    <div>
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

<div class="flex justify-end my-4">
  <div class="flex flex-col">
    <div><a class="underline text-slate-50" href="/">{{ config.title }}</a>&ensp;&copy; {{ config.extra.emily_author }}
    </div>
    <div><small>powered by <a class="text-slate-50" href="https://www.getzola.org/">zola</a>, theme <a class="text-slate-50"
        href="https://github.com/kyoheiu/emily_zola_theme">emily</a> (modified)</small></div>
  </div>
</div>

</html>